/* Book a Ride Css */
#book-ride-ya-logo {
    width: 3rem;
    height: 3rem;
    position: relative;
    left: 3rem;
}

.card-flex {
    display: flex;

}

.book-ride-navbar {
    position: relative;
    top: 1rem;
    display: flex;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.book-ride-card {
    width: 24%;
    height: 27rem;
    border: 1px solid #d4d4d4;
    margin-left: 3rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    line-height: 0.5rem;
}

.rides-background-image {
    width: 100%;
    position: fixed;
    top: 11.8rem;
    z-index: -1;
}

.book-ride-card-heading-2 {
    color: grey;
    font-size: 12px;
}

.book-ride-form {
    /* border: 1px solid red; */
    height: 80%;
    line-height: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.book-ride-form input {
    border: 0;
    padding: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #d4d4d4;
    font: inherit;
    font-size: 14px;
    outline: 0;
    line-height: 1rem;
    width: 14rem;
}

.book-ride-form label {
    font-size: 12px;
    color: grey;
}

.timing-button {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.timing-button label input {
    display: none;
}

.timing-button label span {
    border: 1px solid #9319ff;
    display: block;
    height: 2rem;
    width: 5rem;
    border-radius: 2rem;
    color: black;
    background-color: white;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timing-button span:hover {
    color: white;
    background-color: #9319ff;
    cursor: pointer;
}

.book-ride-submit-button {
    width: 6rem;
    height: 2.5rem;
    background-color: #ffac19;
    border: none;
    border-radius: 2rem;
    color: white;
    margin-top: 15px;
}

.book-ride-submit-button:hover {
    cursor: pointer;
}

.your-matches-text {
    color: #9319ff;
    position: relative;
    top: 1rem;
    left: 2rem;
}

.offer-card h2 {
    position: relative;
    top: 6px;
}

.offer-ride-display {
    width: 60%;
    height: 30rem;
    margin-left: 3rem;
}

.offer-ride-display-cards {
    height: 25rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.offer-card {
    width: 20rem;
    height: 11rem;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    line-height: 0;
}

.offer-ride-display-text-flex {
    display: flex;
}

.offer-ride-text-display-1 {
    /* border: 1px solid red; */
}

.offer-ride-text-display-2 {
    /* border: 1px solid red; */
    margin-left: 4rem;
}

.offer-ride-model {
    font-size: 12px;
    color: grey;
    font-weight: bolder;
    padding-top: 5px;
}

.offer-ride-entity {
    font-size: 15px;
    padding-top: 5px;
}

.pop-up-book-a-ride {
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 20rem;
    height: 20rem;
    position: absolute;
    bottom: 10rem;
    left: 30rem;
    z-index: 1;
    background-color: white;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    line-height: 5px;
    padding-top: 2rem;
}
.pop-up-book-a-ride-flex{
    display: flex;
    padding-bottom: 1rem;
    width: 20rem;
}
.pop-up-book-a-ride-part-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
}
.pop-up-book-a-ride-part-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    align-items: center;
    position: relative;
}
.book-seats{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
}
.book-seat-number{
    width: 2rem;
    height: 2rem;
    border: 1px solid #9319ff;
    border-radius: 5rem;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-seat-number:hover{
    cursor: pointer;
    background-color: #9319ff;
    color: white;
}

/* Book a Ride Css */

/* Offer a Ride Css */
.next-form {
    text-decoration: none;
    color: #9319ff;
    position: relative;
    left: 13rem;
}

.next-form:hover {
    text-decoration: dashed;
    cursor: pointer;
}

.add-input-text {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1.4rem;
    left: 13rem;
    z-index: 1;
}

.add-input-text:hover {
    cursor: pointer;
}

.stops-vertical-scroll-bar {
    overflow-y: scroll;
    /* border: 1px solid red; */
    height: 100%;
    width: 95%;
}

.available-seats-and-price {
    display: flex;
}

.available-seats-and-price-text {
    color: grey;
    font-size: 12px;
}

.available-seats {
    /* border: 1px solid red; */
    text-align: center;
}

.price {
    /* border: 1px solid green; */
    text-align: center;
    margin-left: 2rem;
}

.seats-available {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seats-numbers {
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5rem;
    cursor: pointer;
}

.seats-numbers:hover {
    background-color: #9319ff;
    color: white;
    border: 1px solid #9319ff;
}

.offer-card:hover {
    cursor: pointer;
}

/* Offer a Ride Css */