html,
body {
      padding: 0;
      margin: 0;
}

body {
      /* height: 100vh; */
      /* width: 100vw; */
}

* {
      box-sizing: border-box;
      font-family: sans-serif;
}

::-webkit-scrollbar {
      width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
      background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
      background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
      background: whitesmoke;
}

/* SignUp Page Css */
/* SignUp.css */
/* SignUp Page Css */

/* LogIn Page Css */
/* LogIn.css */
/* LogIn Page css */

/* Options Page css */
/* Options.css */
/* Options Page css  */

/* Book A Ride Page css */
/* BookARide.css */
/* Book A Ride Page css */